<div class="wrap">
    <div class="layout">
        <div class="btn">
            <!--가명정보 알아보기 이벤트 이동-->
            <a href="#" onclick="alert('준비중입니다.');"><img id="event_btn" src="btn/event.png"></a>
        </div>
        <img src="가명·익명처리 기술 경진대회 홈페이지_이벤트배너_01.jpg" width="100%">
    </div>
</div>